@import '../variables/variables';

.ChannelList{
    width: 85%;
    h4{
         display: flex;
         padding-left: 15px;
         align-items: center;
         background-color: $light-green;
         border-top-right-radius: 1rem;
         border-bottom-right-radius: 1rem;
         color: $text-color;
         border: solid 1px black;
         cursor: pointer;
         .Channel_bookimg{
            font-size: 30px;
            padding: 8px;
            color: $text-color;
         }
         
    }
}


.ChannelList:hover{
        h4{
            color: white;
            background-color: rgb(55, 126, 22);
            .Channel_bookimg{
                color: $text-color;
            }
        }
}