@import '../variables/variables';

.chat-header{
    display: flex;
    justify-content: space-between;
    background-color: $light-green;
    color: $text-color;
    padding: 7px;
    border-bottom: solid 1px black;
    border-bottom-left-radius:1rem;
    
    .chatHeaderLeft{
        h3{
            display: flex;
            align-items: center;
            color: rgb(15, 15, 15);
        }
        .chaHeaderName-hash{
        color: rgb(7, 7, 7);
        font-size: 30px;
        padding: 10px;
        }
    }
    .chatHeaderRight{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn-help{
            margin-right: 0;
            position: relative;
        }
        .MuiSvgIcon-root{
            padding: 5px;
            cursor: pointer;
        }
        .MuiSvgIcon-root:click{
            color: white;
        }
        // .chat_search{
        //     display: flex;
        //     align-items: center;
        //     color: yellowgreen;
        //     background-color: blue;
        //     border-radius: 3px;
        //     padding: 3px;
        //     input{
        //         background: transparent;
        //         outline-width: 0;
        //         color: black;
        //         border: none;
        //     }
        // }
        
        .help-info{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-green1;
            padding: 15px;
            border-radius: 5px;
            left: 52%;
            right: 21%;
            top: 30%;
            height: 14rem;
            width: 25rem;
            p{
                color: $text-color;
            }
        }
    }
    
}