$dark-green:#2d6c38; 
$light-green:#21873c;
$light-green1:#6dbd82;
$text-shadow:1px 1px 1px black;
$text-color:black;
$font-bold:bold;
$cursor:pointer;
$rn-btn:white;

$sidebar-color:#476845;
$color-channels:red;