.ChannelList{
    h4{
         display: flex;
         padding-left: 15px;
         align-items: center;
         background-color: brown;
         color: black;
         cursor: pointer;
         .Channel_bookimg{
            font-size: 30px;
            padding: 8px;
            color: black;
         }
         
    }
}


.ChannelList:hover{
        h4{
            color: white;
            background-color: greenyellow;
            .Channel_bookimg{
                color: black;
            }
        }
}