@import '../variables/variables';

.message{
    display: flex;
    margin-top: 7px;
    align-items: center;
    padding: 18px;
    color: white;
    width: 65%;
    margin-left: 1rem;
    border-radius: 2rem;
    border: solid 1px black;
    background: $light-green1;
    .message-info{
        margin-left: 20px;
        .message-timestemp{
            color: rgb(12, 12, 14);
            margin-left: 20px;
            font-size: 9px;
            font-weight: bold;
        }
    }
}